.centeredFooterBar{
	position: fixed; bottom : 0px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: white !important;
	background: #c9c9c9!important;
	margin-bottom: 0 !important;
	width: 100% !important;
	font-size: 13px !important;
	font-weight: bold !important;
	padding-left: 450px !important;
	bottom: 0px;
}

.miniFooter{
	background-color: #303030;
	width : 100%;
	text-align: center;
}

.labelFont {
	font-style: italic;
	font-size: small;
	color: white;
}

.label {
	font-style: normal;
	font-size: small;
	color : white;
}

.ui-breadcrumb {
	padding-left: 160px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;

}

.ui-widget-header {
	background: #303030!important;
}

.ui-widget-header a {
	color: white !important;
	text-shadow: none;
	font-size: 15px !important;
	text-decoration: none;
}

.ui-breadcrumb ul li a.ui-icon-home {
	visibility: hidden !important;
}

.ui-menuitem-text {
	padding-right: 150px !important;
}

.ui-widget-header .ui-icon {
	visibility: hidden !important;
}

.ui:hover {
	text-decoration: underline;
}

.ui-menuitem-text {
	font-size: 15px;
	font-family: "Arial" !important;
	color: white;
	text-align: center !important;
}