.main {
	background-color: white;
}

.bigPanel {
	text-align: center;
	margin: 0 auto;
}

.bigLabel {
	font-style: italic;
	font-size: x-large;
	margin: 0 auto;
	font-variant: small-caps;
}

.image {
	background-color: #F0FFFF;
}

.imageOnPanel{
  height: 220px;
  width:100%;	
  margin-left: 10px;
}

.ourLooks {
	margin: 0 auto;
	background-color: #303030;
	width: 50%;
	height : 300px;
	text-align:center;
}

.labelOnPanel{
	font-style: italic;
	font-size: x-large;
	font-variant: small-caps;
	color: white;
}

.PhotoPanel{
	margin: 0 auto;
}

.Photo1{
	margin-left:200px;
}

.labelOfPrice1{
	margin-left: 130px;
	font-style: italic;
	font-size: small;
}

.labelOfPrice2{
	margin-left:360px;
	font-style: italic;
	font-size: small;
}

.fadeStyle{
	margin-left: 30px;
}

.aboutUs{
	margin: 0 auto;
	background-color: #ffffff;
	width: 50%;
	height : 270px;
	text-align:center;
}

.labelOnPanel2{
	font-style: italic;
	font-size: x-large;
	font-variant: small-caps;
	color: black;
}

.imageOnPanel2{
  height: 270px;
  width:100%;	
  margin-left: 10px;
}